.table_container {
	max-height: 75vh;
	overflow: scroll;
    margin-top: 20px;
    border: 5px solid white;
    border-radius: 20px;
    padding: 20px;
}

.pagination {
	position: fixed;
	bottom: 70px;
	margin: auto;
}

#csv-table_info {
	position: fixed;
	bottom: 70px;
	margin: auto;
}
